:root {
  --primary-color: #42b983;
  --medium-color: #ccc;
  --light-color: #f4f4f4;
  --dark-color: #2c3e50;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--light-color);
  color: #333;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 920px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

/* Header */
header {
  padding: 1rem 0;
}

/* Date picker control */
.vdatetime-popup__header,
.vdatetime-calendar__month__day--selected > span > span,
.vdatetime-calendar__month__day--selected:hover > span > span {
  background: var(--primary-color) !important;
}

.vdatetime-time-picker__item--selected,
.vdatetime-popup__actions__button {
  color: var(--primary-color) !important;
}

/* Pick a date Section */
.datetime-input {
  padding: 1rem;
  margin: 1rem 0;
  width: 50%;
  font-size: 1rem;
  line-height: 1rem;
  color: #888;
}

/* Countdown Section */
#status-legend {
  padding: 1rem;
  margin: 1rem 0;
}

.boxes-list {
  display: flex;
}

.box {
  height: 80px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #555 dotted 1px;
  margin: 1rem 0.5rem 1rem 0;
  border-radius: 5px;
}

/* Number */
.box p:nth-child(1) {
  font-size: 2rem;
  line-height: 2rem;
}

/* Legend */
.box p:nth-child(2) {
  font-size: 1rem;
  line-height: 1rem;
  color: #888;
}
